/*
filename: Apply Page CSS

author: Bianca Zerveas

created: 15/04/26

last modified: 15/04/26

description: The CSS for specifically the apply.html page
*/

* { font-family: calibri, sans-serif; }

h1 {text-align: left;
    color:  #1e3a8a;}

fieldset {text-align: left;
width: 50%;}

#gender{text-align: right;}
