<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f5f7fa;
    }

    /* HEADER (blue → orange gradient like logo) */
    header {
        text-align: center;
        background: linear-gradient(to right, #1e3a8a, #f97316);
        color: white;
        padding: 20px;
    }

    header img {
        width: 120px;
    }

    /* NAV BAR */
    nav {
        background-color: #1e3a8a;
        padding: 10px;
        text-align: center;
    }

    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        font-weight: bold;
    }

    nav a:hover {
        color: #f97316;
    }

   /* SEARCH */
.search-box {
    display: none;              
    position: flex;
    top: 100px;
    background: white;
    padding: 10px;
    border-radius: 8px;

}

/* show search box when checked */
#searchToggle:checked ~ .search-box {
    display: flex;
    align-items: center;
}

/* search button */
.search-btn {
    margin-left: auto;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #f97316;
    border: none;
    border-radius: 5px;
}

/* hover effect */
.search-btn:hover {
    background-color: #ea580c;
}
   
     

    /* FOOTER */
    footer {
        background-color: #1e3a8a;
        color: white;
        text-align: center;
        padding: 15px;
    }

    footer a {
        color: #f97316;
        text-decoration: none;
        margin: 0 10px;
    }

    footer a:hover {
        text-decoration: underline;
    }
</style>